.posts {
  margin-top: 5rem;

  a {
    display: block;

    & + a {
      margin-top: 4rem;
    }

    strong {
      color: var(--heading);
      font-size: 2.8rem;
      cursor: pointer;
    }

    p {
      color: var(--body);
      font-size: 1.8rem;
      margin-top: 0.8rem;
    }

    > div {
      display: flex;
      align-items: center;
      margin-top: 2rem;

      span {
        display: flex;
        align-items: center;
        color: var(--body);

        svg {
          margin-right: 0.8rem;
        }

        & + span {
          margin-left: 2rem;
        }
      }
    }
  }
}

.loadMoreButton {
  color: var(--highlight);
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  margin-top: 4rem;
}
